@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/** 

$maxWidth:xxx; (width content(.container) \ Ширена контентной части)
$pcSize (PC font-size \ Подставляем размер шрифта для больших устройст)
$mobSize (mobail font-size \ Подставляем размер шрифта для маленьких устройст)

**/
@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura_pt_book.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/futura_pt_book.eot?#iefix") format("embedded-opentype"), url("../fonts/futura_pt_book.woff2") format("woff2"), url("../fonts/futura_pt_book.woff") format("woff"), url("../fonts/futura_pt_book.ttf") format("truetype"), url("../fonts/futura_pt_book.svg#futura_pt_book") format("svg");
  /* Chrome < 4, Legacy iOS */
}

/**
index.html
**/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Futura;
  font-weight: 500;
}

body.active {
  overflow: hidden;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-fix {
  width: 1236px;
}

.header {
  height: 100%;
  overflow: hidden;
}

.header__wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 140%;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.header__wrapper.active {
  width: 100%;
}

.header__wrapper.active .header__body {
  width: 60%;
}

.header__wrapper.active .slider {
  width: 60%;
}

.header__wrapper.active .header__burger {
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
}

.header__wrapper.active .header__nav-close {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header__wrapper.active .header__nav-li {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.header__body {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.header__burger {
  position: relative;
  right: 63px;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (max-width: 767px) {
  .header__burger {
    font-size: calc(13px + 1.7 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .header__burger {
    font-size: calc(13px + 1 * (100vw / 1236));
  }
}

.header__burger a {
  color: inherit;
}

@media (max-width: 470px) {
  .header__burger {
    right: 20px;
  }
}

.header__burger:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header__marquee {
  position: absolute;
  z-index: 6;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 43px;
  width: 100%;
  max-width: 100%;
  padding: 4px 0px;
  color: #fff;
  font-style: italic;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 213, 4, 0.911)), to(rgba(255, 215, 4, 0))), #0038FF;
  background: linear-gradient(90deg, rgba(255, 213, 4, 0.911) 0%, rgba(255, 215, 4, 0) 100%), #0038FF;
  -webkit-animation: gradient 5s infinite linear;
          animation: gradient 5s infinite linear;
  background-size: 200%;
}

@media (max-width: 767px) {
  .header__marquee {
    font-size: calc(12px + 27.2 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .header__marquee {
    font-size: calc(12px + 16 * (100vw / 1236));
  }
}

.header__marquee div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230%;
  -webkit-animation: marquee-infinite 14s linear infinite;
          animation: marquee-infinite 14s linear infinite;
}

.header__marquee p {
  white-space: nowrap;
  width: 130%;
  margin-right: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 5;
  height: 100%;
  width: 40%;
  background: #0038FF;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header__nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__nav-li {
  color: #FFFFFF;
  line-height: 85px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

@media (max-width: 767px) {
  .header__nav-li {
    font-size: calc(23px + 69.7 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .header__nav-li {
    font-size: calc(23px + 41 * (100vw / 1236));
  }
}

.header__nav-li a {
  display: block;
  padding-left: 35px;
  color: inherit;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header__nav-li a:hover {
  color: #FFD704;
}

@media (min-width: 1850px) {
  .header__nav-li {
    margin-bottom: 30px;
  }
  .header__nav-li:last-child {
    margin: 0px;
  }
}

@media (max-width: 400px) {
  .header__nav-li a {
    padding-left: 8px;
  }
}

.header__nav-close {
  display: block;
  position: absolute;
  z-index: 13;
  top: 80px;
  right: 75px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__nav-close::after, .header__nav-close::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #FFFFFF;
}

.header__nav-close::before {
  top: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__nav-close::after {
  bottom: 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 600px) {
  .header__nav-close {
    top: 20px;
    right: 20px;
  }
}

.header__nav-close:hover::before, .header__nav-close:hover::after {
  background: #FFD704;
}

@-webkit-keyframes marquee-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes marquee-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.slider {
  display: block;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.slider__slide {
  overflow: hidden;
}

.slider__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__wrapper-img {
  width: 100%;
  height: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.row-position-rel {
  position: relative;
  z-index: 6;
}

.wrapper-img img {
  width: 100%;
}

.wrapper-header-logo {
  margin: auto;
  max-width: 232px;
}

@media (max-width: 400px) {
  .wrapper-header-logo {
    max-width: 150px;
  }
}

.wrapper-footer-logo {
  width: 83px;
  margin-right: 36px;
}

@media (max-width: 400px) {
  .wrapper-footer-logo {
    width: 50px;
    margin-right: 10px;
  }
}

.wrapper-header-all-product-logo {
  width: 110px;
}

.wrapper-header-product-page-logo {
  width: 50px;
  -webkit-animation: 10s mercury infinite linear;
          animation: 10s mercury infinite linear;
}

@-webkit-keyframes mercury {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes mercury {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  padding: 10px 0px;
  min-height: 100%;
  background: #0038FF;
  color: #FFD704;
}

@media (max-width: 370px), (max-height: 540px) {
  .footer__col-nav {
    margin-bottom: 10px;
  }
}

.footer__col-name {
  color: #FFD704;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .footer__col-name {
    font-size: calc(17px + 79.9 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .footer__col-name {
    font-size: calc(17px + 47 * (100vw / 1236));
  }
}

@media (min-width: 1670px) {
  .footer__col-name {
    margin-bottom: 19px;
  }
}

@media (max-height: 735px) and (min-width: 900px) {
  .footer__col-name {
    margin-bottom: 6px;
    font-size: 50px;
  }
}

@media (max-height: 485px) {
  .footer__col-name {
    margin-bottom: 6px;
  }
}

.footer__col-li {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  line-height: 24px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .footer__col-li {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .footer__col-li {
    font-size: calc(12px + 8 * (100vw / 1236));
  }
}

.footer__col-li a {
  display: block;
  color: inherit;
  width: 100%;
}

.footer__col-li a span {
  position: relative;
  display: inline-block;
}

.footer__col-li a span::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #FFD704;
  border-radius: 10px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.footer__col-li a:hover span::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media (min-width: 1670px) {
  .footer__col-li {
    margin-bottom: 13px;
  }
}

@media (max-height: 735px) and (min-width: 900px) {
  .footer__col-li {
    margin-bottom: 6px;
    font-size: 18px;
  }
}

@media (max-height: 665px) {
  .footer__col-li {
    margin-bottom: 6px;
  }
}

@media (max-height: 485px) {
  .footer__col-li {
    margin-bottom: 3px;
  }
}

@media (max-width: 605px), (max-height: 570px) {
  .footer__col-li {
    line-height: normal;
  }
}

.form__col {
  margin-right: 20px;
}

.form__input-name {
  margin-right: 10px;
}

@media (min-width: 1670px) {
  .form__input-name {
    margin-bottom: 19px;
  }
}

@media (max-width: 370px), (max-height: 540px) {
  .form__input-name {
    margin-bottom: 6px;
  }
}

.form__input {
  padding: 8px 0px 8px 13px;
  color: #FFD704;
  background: inherit;
  border: 3px solid #FFFFFF;
  margin-bottom: 33px;
}

@media (max-width: 767px) {
  .form__input {
    font-size: calc(13px + 5.1 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .form__input {
    font-size: calc(13px + 3 * (100vw / 1236));
  }
}

.form__input:focus {
  -webkit-box-shadow: 0px 0px 7px 4px #d3b108;
          box-shadow: 0px 0px 7px 4px #d3b108;
}

@media (min-width: 1670px) and (max-width: 767px) {
  .form__input {
    font-size: calc(13px + 18.7 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 1670px) and (min-width: 767px) {
  .form__input {
    font-size: calc(13px + 11 * (100vw / 1236));
  }
}

@media (max-width: 770px), (max-height: 665px) {
  .form__input {
    margin-bottom: 12px;
  }
}

@media (max-height: 485px) {
  .form__input {
    padding: 4px 0px 4px 13px;
    border: 2px solid #FFFFFF;
  }
}

@media (max-width: 427px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-row .form__col {
    margin: 0px;
  }
}

.form__button {
  width: 100%;
  padding: 8px 0px;
  color: #000000;
  background: #FFD704;
  margin-bottom: 15px;
  -webkit-transition: border-radius 0.2s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
  transition: border-radius 0.2s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
  transition: box-shadow 0.4s, transform 0.4s, border-radius 0.2s;
  transition: box-shadow 0.4s, transform 0.4s, border-radius 0.2s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
}

@media (max-width: 767px) {
  .form__button {
    font-size: calc(13px + 5.1 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .form__button {
    font-size: calc(13px + 3 * (100vw / 1236));
  }
}

.form__button:hover, .form__button:focus {
  -webkit-box-shadow: 0px 10px #d3b108;
          box-shadow: 0px 10px #d3b108;
  border-radius: 10px;
}

.form__button:active {
  -webkit-box-shadow: 0px 5px #d3b108;
          box-shadow: 0px 5px #d3b108;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

@media (max-height: 485px) {
  .form__button {
    padding: 4px 0px;
  }
}

.form__info {
  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 83px;
}

@media (max-width: 767px) {
  .form__info {
    font-size: calc(13px + 11.9 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .form__info {
    font-size: calc(13px + 7 * (100vw / 1236));
  }
}

@media (max-width: 770px), (max-height: 665px) {
  .form__info {
    margin-bottom: 30px;
  }
}

.copyright {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .copyright {
    font-size: calc(10px + 17 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .copyright {
    font-size: calc(10px + 10 * (100vw / 1236));
  }
}

/**
all-product.html
**/
.header-all-product {
  padding-top: 50px;
  margin-bottom: 40px;
}

.header-all-product__nav-open {
  position: relative;
  bottom: 8px;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 40px;
}

.header-all-product__nav-open::after, .header-all-product__nav-open::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: #000000;
}

.header-all-product__nav-open::before {
  top: 13px;
  right: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-all-product__nav-open::after {
  bottom: 15px;
  right: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catalog {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__li {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 30px;
}

.catalog__li a {
  color: inherit;
}

.catalog__li:last-child {
  margin-right: 0px;
}

.grid__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__item {
  position: relative;
  overflow: hidden;
}

.grid__item:hover .grid__item-name {
  color: #0037ff;
  background: rgba(255, 255, 255, 0.4);
}

.grid__item-name {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: rgba(0, 55, 255, 0);
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  pointer-events: none;
}

@media (max-width: 767px) {
  .grid__item-name {
    font-size: calc(10px + 59.5 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .grid__item-name {
    font-size: calc(10px + 35 * (100vw / 1236));
  }
}

/**
product-page.html
**/
.header-product-preview {
  position: fixed;
  z-index: 20;
  padding-top: 30px;
  width: 100%;
  margin-bottom: -20px;
}

@media (max-width: 666px) {
  .header-product-preview {
    padding-top: 10px;
  }
}

.header-product-preview-wrapper {
  padding: 0px 53px;
}

@media (max-width: 666px) {
  .header-product-preview-wrapper {
    padding: 0px 13px;
  }
}

.product-preview {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 94px 0px 100px;
}

@media (max-width: 769px), (max-height: 620px) {
  .product-preview {
    padding: 40px 0px 40px;
  }
}

.product-preview-wrapper {
  height: 100%;
}

.product-preview__slider {
  position: relative;
  height: 100%;
}

.product-preview__slider-wrapper-img {
  width: 45%;
  height: 100%;
  margin: 0 auto;
}

.product-preview__slider-wrapper-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-preview__slider-row-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  padding: 0px 53px;
}

@media (max-width: 666px) {
  .product-preview__slider-row-button {
    padding: 0px 13px;
  }
}

.product-preview__slider-wrapper-button {
  max-width: 231px;
}

.product-preview__slider-button-next, .product-preview__slider-button-prev {
  position: relative;
  width: 361px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

@media (max-width: 761px) {
  .product-preview__slider-button-next, .product-preview__slider-button-prev {
    max-width: 100%;
    height: 40px;
  }
}

.product-preview__slider-button-next img, .product-preview__slider-button-prev img {
  width: 100%;
  height: 14px;
}

.product-preview__slider-button-prev {
  margin-right: 50px;
}

.product-preview__slider-button-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.product-preview__slider-col {
  position: absolute;
  z-index: 24;
  top: 50%;
  right: 53px;
  text-transform: uppercase;
}

@media (max-width: 666px) {
  .product-preview__slider-col {
    right: 13px;
  }
}

.product-preview__slider-col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.product-preview__slider-product-name {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .product-preview__slider-product-name {
    font-size: calc(13px + 22.1 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .product-preview__slider-product-name {
    font-size: calc(13px + 13 * (100vw / 1236));
  }
}

.product-preview__slider-product-order-button {
  padding: 9px 24px;
  color: #FFFFFF;
  background: #676767;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .product-preview__slider-product-order-button {
    font-size: calc(11px + 8.5 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .product-preview__slider-product-order-button {
    font-size: calc(11px + 5 * (100vw / 1236));
  }
}

.product-info {
  position: relative;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 38px;
  background: #676767;
  height: 46%;
  overflow: hidden;
  text-transform: uppercase;
}

@media (max-height: 720px) {
  .product-info {
    height: 43%;
  }
}

.product-info__wrapper {
  width: 100%;
}

.product-info__row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info__info-col {
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-info__info-name {
  white-space: nowrap;
  color: inherit;
  margin-bottom: 19px;
}

@media (max-width: 767px) {
  .product-info__info-name {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .product-info__info-name {
    font-size: calc(12px + 8 * (100vw / 1236));
  }
}

.product-info__info-name:last-child {
  margin-top: 6px;
  margin-bottom: 0px;
}

@media (max-height: 720px) {
  .product-info__info-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-height: 600px) {
  .product-info__info-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media (max-width: 510px) {
  .product-info__info-name {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (max-width: 330px) {
  .product-info__info-name {
    margin-bottom: 6px;
  }
}

.product-info__info-ul {
  margin-bottom: 30px;
}

@media (max-width: 630px) {
  .product-info__info-ul {
    margin-bottom: 14px;
  }
}

.product-info__info-li {
  white-space: nowrap;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .product-info__info-li {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1236));
  }
}

@media (min-width: 767px) {
  .product-info__info-li {
    font-size: calc(10px + 6 * (100vw / 1236));
  }
}

.product-info__info-li:last-child {
  margin-bottom: 0px;
}

@media (max-height: 720px) {
  .product-info__info-li {
    font-size: 16px;
    margin-bottom: 4px;
  }
}

@media (max-height: 600px) {
  .product-info__info-li {
    font-size: 11px;
  }
}

@media (max-width: 510px) {
  .product-info__info-li {
    font-size: 11px;
  }
}

@media (max-width: 300px) {
  .product-info__info-li {
    margin-bottom: 2px;
  }
}

.product-info__wrapper-row-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 740px) {
  .product-info__wrapper-row-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-info__wrapper-img {
  max-width: 400px;
  height: 100%;
}

@media (max-width: 740px) {
  .product-info__wrapper-img {
    width: 40%;
  }
}

@media (max-width: 440px) {
  .product-info__wrapper-img {
    width: 70%;
  }
}

.product-info__wrapper-img:first-child {
  margin-right: 100px;
}

@media (max-width: 740px) {
  .product-info__wrapper-img:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
    height: 90%;
  }
}

.product-info__wrapper-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
